services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=edotel
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db

  node:
    image: node:20
    working_dir: /var/www
    ports:
      - "5173:5173"
    volumes:
      - .:/var/www
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    depends_on:
      - app

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: edotel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  pgdata:
