services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    environment:
      APP_ENV=production
      APP_DEBUG=false
      DB_CONNECTION=pgsql
      DB_HOST=db
      DB_PORT=5432
      DB_DATABASE=edotel
      DB_USERNAME=postgres
      DB_PASSWORD=postgres
    command: sh -c "composer install --no-dev && php artisan key:generate && php-fpm"

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
